<%# Copyright (C) 2023  LesalondugamingStudios. See the README file for more information. %>
<!DOCTYPE html>
<html lang="<%= l %>" data-bs-theme="dark">
<head>
  <%- include("../partials/head", { pageTitle: `SCP-${scp.toUpperCase()}${name ? ` : ${name}` : ""}` }) %>
  <link rel="stylesheet" href="/stylesheets/app.report.css">
</head>
<body>
  <header>
    <%- include("../partials/header") %>
  </header>

  <div class="app">
    <div class="content content_sp">
      <h1 class="centered">SCP-<%= scp.toUpperCase() %><%= name ? ` : ${name}` : "" %> <a href="<%= url %>" target="_blank"><i class="fa-solid fa-link"></i></a></h1>
      <div class="HTMLReport">
        <%- HTML %>
      </div>
      <hr>
      <i><%- t("viewer:default_replies.creative_commons", { ccLinkL: `<a href="https://creativecommons.org/licenses/by-sa/3.0/" target="_blank">`, ccLinkR: "</a>" }) %></i>
    </div>
  </div>
</body>
</html>